# terraform.tfvars
org_id                      = "1234567890"
billing_account_id          = "XXXXX"
default_admins              = ["a@bc.com"]
billing_alert_email         = ["a@b.com"]
host_project_id             = "abcd"