# ----------------------------------------------------------------------------------------------------------------------
# Group Variable List
# ----------------------------------------------------------------------------------------------------------------------

variable "group_list" {
    type = list(object({
        email = string
        region = string
        })
    )
    default = [{
            region = "northamerica-northeast2"
            email = "gcp-pdx-general@wk.com"
        },
        {
            region = "us-east4"
            email = "gcp-nyc-general@wk.com"
        },
        {
            region = "southamerica-east1"
            email = "gcp-sao-general@wk.com"
        },
        {
            region = "southamerica-west1"
            email = "gcp-bue-general@wk.com"
        },
        {
            region = "northamerica-south1"
            email = "gcp-mex-general@wk.com"
        },
        {
            region = "northamerica-northeast2"
            email = "gcp-tor-general@wk.com"
        },
        {
            region = "europe-west2"
            email = "gcp-lon-general@wk.com"
        },
        {
            region = "europe-west4"
            email = "gcp-ams-general@wk.com"
        },
        {
            region = "asia-south2"
            email = "gcp-del-general@wk.com"
        },
        {
            region = "asia-east2"
            email = "gcp-sha-general@wk.com"
        },
        {
            region = "asia-northeast1"
            email = "gcp-tok-general@wk.com"
        },
        {
            region = "australia-southeast1"
            email = "gcp-tok-general@wk.com"
        }
        ]
}